.radio {
    margin-right: 11px;
}

.radio::before {
}


.radio:checked::before {
    color: black;
}

.label {
    margin-bottom: 16px;
}

.label:last-child {
    margin: 0;
}

.options {
    display: flex;
    flex-direction: column;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
