.App {
    --header_height: 60px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

.hw {
    padding: 20px 10px;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
}

.hwTitle {
    padding-left: 70px;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 22px;
    color: #000000;

}