.friendMessage {

}

.friendImageAndText {

}

.friendImageAndText img {

}

.friendText {

}

.friendText:after {

}

.friendName {

}

.friendMessageText {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.friendTime {

}
