.burgerMenuIcon {

}

.header {
    padding: 17px 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0 1px 2px 0 rgba(29, 33, 38, 0.10), 0 10px 40px 0 rgba(29, 33, 38, 0.13);
}

.header h1 {
    color: #000;
    font-size: 24px;
    font-weight: 600;
}